# Ollama LLM Configuration
# localhost kullanıldığında: http://localhost:11434
# Docker içinden: http://ollama:11434
OLLAMA_BASE_URL=http://ollama:11434
MODEL_NAME=mistral

# Embedding Model (using Ollama)
EMBEDDING_MODEL=nomic-embed-text

# Chroma DB Configuration
# localhost kullanıldığında: http://localhost:9191
# Docker içinden: http://chroma:9191
CHROMA_DB_URL=http://chroma:9191
DOCUMENTS_PATH=./documents
